@model UserStore.Models.RequestViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>Просмотр фильма</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Poster)
        </dt>

        <dd>
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Poster)" width="80" height="80" />
        </dd>

    </dl>
</div>
<p>
        @Html.ActionLink("Вернутся", "Index")
    </p>
