@model PagedList.IPagedList<UserStore.Models.RequestViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>
    @Scripts.Render("~/bundles/js/datatables")
    @Styles.Render("~/bundles/css/datatables")
</head>
<body>
    <h2>Список фильмов</h2>
    @Html.ActionLink("Добавить фильм", "Create", "Request",
                           new { @class = "viewDialog",  data_dialog_title = "Добавление фильма" })
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Год выпуска</th>
                <th>Режиссёр</th>
                <th>Опубликовал</th>
                <th>Постер</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Request in Model)
            {
            <tr>
                <td>@Request.Title</td>
                <td>@Request.Note</td>
                <td>@Request.Year</td>
                <td>@Request.Producer</td>
                <td>@Request.AuthorUserName</td>
                <td><img src="data:image;base64,@System.Convert.ToBase64String(Request.Poster)" width="80" height="80" /></td>
                <td>
                    @Html.ActionLink("Смотреть", "Details", "Request", new { id = Request.Id },
                        new { @class = "viewDialog",  data_dialog_title = "Описание фильма" }) 
                    @if (Request.IsAuthor)
                    {
                          @Html.ActionLink("Изменить", "Edit", "Request", new { id = Request.Id },
                          new { @class = "viewDialog", data_dialog_title = "Редактирование фильма" });
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    <br />
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
   
</body>
</html>